body{
    background-color: #999999;
}


.navbar{
    background-color: #999999 !important;
}


.p{
    font-family: Arial, Helvetica, sans-serif !important;
}


.container .row .N{
    color: #1D225C;
    font-size: 50px;
}


.m{
    font-size: 30px;
}


.nav-link{
    color: #1D225C;
    font-size: 25px;
    font-weight: bold;
}